name: Wheels

on:
  push:
    branches:
    - master
    tags:
    - v[0-9].*

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Build sdist
        if: matrix.os == 'windows-2019'
        run: |
          pip install scikit-build cython
          python setup.py sdist

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.10.2
        env:
          CIBW_SKIP: 'pp*'
          CIBW_BEFORE_BUILD: |
            if exist _skbuild rmdir /s /q _skbuild
          # XXX https://github.com/scikit-build/scikit-build/issues/740
          CIBW_ENVIRONMENT: >
            SETUPTOOLS_ENABLE_FEATURES=legacy-editable
        with:
          output-dir: dist

      - uses: actions/upload-artifact@v3
        with:
          path: dist/*

  upload_release:
    name: Upload release
    needs: [build_wheels]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:
    - uses: actions/download-artifact@v3
      with:
        name: artifact
        path: dist

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        draft: true
        files: dist/*
